@import "tailwindcss";

:root {
  /* Fondo base oscuro */
  --background: #020617; 
  --foreground: #f8fafc;
  
  /* Colores de acento */
  --valorant-red: #ff4655;
  --valorant-dark: #0f1923;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  
  --color-val-red: var(--valorant-red);
  --color-val-dark: var(--valorant-dark);
}

/* Utilidad Glassmorphism */
@utility glass {
  background: rgba(15, 23, 42, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

/* Utilidad Glassmorphism Hover*/
@utility glass-hover {
  @apply transition-all duration-300;

  &:hover {
    background: rgba(30, 41, 59, 0.6);
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(255, 70, 85, 0.15);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}